<!DOCTYPE html>
<html>
  <head>
    <title>ToDoList</title>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Condiment' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="cont" style="height:100vh;width:100vw;margin:0;">
      <img id="bckg" src="http://www.jefreygdesigns.com/cinema-display/red-pattern.jpg">
      <div class="header" >
        <div class="Links">
          <div class="NewTaskLink"><%= link_to (image_tag 'add.png', class: "add-icon"), new_task_path, id: "new_link", remote: true %></div>
          <div class="NewTaskLink"><%= link_to (image_tag 'cancel2.png', id: "cancel-icon"), '#', id: "new_link_cancel", style: "display:none" %></div>
          <div class="Finished"><%= link_to (image_tag 'check.png', id: "show-f"), root_path(:test => 3), remote: true %></div>
        </div>
        <div id='task-form' style="display:none;"></div>
        <div id='rest'><%= render('rest') %></div>
        <div id="hinner">
          <p>To-do list</p>
        </div>
      </div>
      
      <div class="Main-container">
        <%= yield %>
      </div>
      <div class="trash"><%= image_tag("drop.png", style: "opacity:0.5") %></div>
      <div class="trash" id="tr" style="<% if Task.where(status: true).count == 0 %>display:none<% else %>initial<% end %>"><%= link_to (image_tag 'filtrash.png'), task_erase_finished_path(:task_id => -1), remote: true, method: :delete, class: "trash-link", data: { confirm: "Do you realy want to erase ALL the FINISHED tasks ?" } %></div>
     <div class="cprt"><p>Nathan gouy @ngouy</p></div>
    </div>
  </body>
</html>
